{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <table class="table" style="text-align: left;">
        <tbody>
            <tr>
                <th scope="row">Password</th>
                <td>
                    <a href="/change_password" class="btn btn-primary btn-sm" role="button">Change Password</a>
                </td>
            </tr>
            <tr>
                <th>Cash</th>
                <td>
                    ${{ cash }}
                    <a href="/deposit" class="btn btn-primary btn-sm" role="button">Deposit</a>
                </td>
            </tr>
            <tr>
                <th>
                    <a href="/logout" class="btn btn-secondary btn-sm" role="button">Logout</a>
                </th>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
