{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <form action="/change_password" method="POST">
        <div class="form-group row justify-content-center">
            <label for="old_passwd" class="col-sm-2 col-form-label">Old Password</label>
            <div class="col-sm-auto" >
                <input type="password" class="form-control" id="old_passwd" name="old_passwd" placeholder="Old Password">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="new_passwd" class="col-sm-2 col-form-label">New Password</label>
            <div class="col-sm-auto" >
                <input type="password" class="form-control" id="new_passwd" name="new_passwd" placeholder="New Password">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="new_passwd_confirm" class="col-sm-2 col-form-label">Confirmation</label>
            <div class="col-sm-auto">
                <input type="password" class="form-control" id="new_passwd_confirm" name="new_passwd_confirm" aria-describedby="passwd_confirm_help" placeholder="Confirm Password">
                <small id="passwd_confirm_help" class="form-text text-muted" style="text-align:left;">Please reenter your password.</small>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
