{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>History</h1>
    <table class="table table-hover" data-toggle="table">
        <thead>
            <tr>
                <th data-field="date" data-sortable="true">Date</th>
                <th data-field="time" data-sortable="true">Time</th>
                <th data-field="action" data-sortable="true">Action</th>
                <th data-field="symbol" data-sortable="true">Symbol</th>
                <th data-field="shares" data-sortable="true">Shares</th>
                <th data-field="price" data-sortable="true">Price</th>
                <th data-field="total" data-sortable="true">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction["date"] }}</td>
                    <td>{{ transaction["time"] }}</td>
                    <td>{{ transaction["action"] }}</td>
                    <td>{{ transaction["symbol"] }}</td>
                    <td>{{ transaction["shares"] }}</td>
                    <td>{{ transaction["price"] }}</td>
                    <td>{{ transaction["total"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}