{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Holdings</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>My Price</th>
                <th>Current Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for holding in holdings %}
                <tr>
                    <td>{{ holding["symbol"] }}</td>
                    <td>{{ holding["shares"] }}</td>
                    <td>{{ holding["my_price"] }}</td>
                    <td>{{ holding["cur_price"] }}</td>
                    <td>{{ holding["symbol_total"] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Cash</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>{{ total }}</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}