{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="POST">
        <div class="form-group row justify-content-center">
            <label for="symbol" class="col-sm-1 col-form-label">Symbol</label>
            <div class="col-sm-auto">
                <input type="text" class="form-control" id="symbol" name="symbol" placeholder="Enter symbol">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
