{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <div class="form-group row justify-content-center">
            <label for="symbols" class="col-sm-1 col-form-label">Symbol</label>
            <div class="col-sm-auto">
                <select id="symbols" name="symbol" class="form-control">
                    <option></option>
                    {% for symbol in symbols %}
                        {% if symbol == sell_symbol %}
                            <option value="{{ symbol }}" selected>{{ symbol }}</option>
                        {% else %}
                            <option value="{{ symbol }}">{{ symbol }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <label for="shares" class="col-sm-1 col-form-label">Shares</label>
            <div class="col-sm-auto">
                <input type="number" class="form-control" id="shares" name="shares" value="{{ shares }}" placeholder="Shares number">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
