{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
<!--        <div class="form-group row justify-content-center">-->
<!--            <label for="symbols" class="col-sm-1 col-form-label">Symbol</label>-->
<!--            <select id="symbols" name="symbol" class="col-sm-auto">-->
<!--                <option selected></option>-->
<!--                {% for symbol in symbols %}-->
<!--                    <option value="{{ symbol }}">{{ symbol }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->
<!--        </div>-->

        <div class="form-group row justify-content-center">
            <label for="symbols" class="col-sm-1 col-form-label">Symbol</label>
            <div class="col-sm-auto">
                <select id="symbols" name="symbol" class="form-control">
                    <option selected></option>
                    {% for symbol in symbols %}
                        <option value="{{ symbol }}">{{ symbol }}</option>
                    {% endfor %}
                </select>
            </div>

            <label for="shares" class="col-sm-1 col-form-label">Shares</label>
            <div class="col-sm-auto">
                <input type="number" class="form-control" id="shares" name="shares" placeholder="Shares number">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
