<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <!-- brand icon -->
        <link href="/static/brand_favicon.ico" rel="icon">
        <!-- customized styles -->
        <link href="/static/css/main.css" rel="stylesheet">
        <!-- scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.js') }}">\x3C/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <!-- date picker -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <!-- Font Awesome icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <!--toastr-->
        <link href="static/toastr/toastr.css" rel="stylesheet"/>
        <script src="static/toastr/toastr.js"></script>
        <!--fullcalendar-->
        <link href="static/fullcalendar/main.css" rel="stylesheet"/>
        <script src="static/fullcalendar/main.js"></script>

        <!-- setting global variables -->
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

        {% block header %}{% endblock %}
        <title>FitBook: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <div id="loading_modal" class="modal fade d-flex justify-content-center align-items-center hide_loading_modal" data-backdrop="static" data-keyboard="false" abindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-transparent border-0">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top py-2">
            <a class="navbar-brand " href="/">
                <img src="/static/brand_nav.png" width="auto" height="40" class="d-inline-block align-top" alt="FitBook">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar_nav">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/record">Record</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/analysis">Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/routine_workouts">Routine Workouts</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log Out</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log In</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-danger border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container-fluid  p-sm-5">
            {% block main %}{% endblock %}
        </main>
    </body>

    <script src="/static/js/main.js"></script>
    {% block footer %}{% endblock %}
</html>
