{% extends "layout.html" %}

{% block header %}
<style type="text/css">
    th, td {
      text-align: center;
    }
    .table {
        margin: 0;
    }
    .accordion-body {
        padding: 0;
    }
</style>
{% endblock %}

{% block title %}
    Record
{% endblock %}

{% block main %}
<div class="card text-white bg-primary center mb-3 mx-auto" style="max-width: 30rem;">
    <div class="card-header">Record</div>
    <div class="card-body">
        <div class="alert alert-danger alert-dismissible show" role="alert" id="form_alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <h5 class="card-title">Date</h5>
        <input type="text" readonly="" class="form-control datepicker" name="date" placeholder="yyyy-mm-dd" style="border-radius: 0px;">

        <hr class="my-3 sep">

        <h5 class="card-title">Exercises</h5>
        <div class="card">
            <div class="card-header px-2">
                <a data-toggle="collapse" aria-expanded="false" href="#exercise_1">
                    <i class="fas fa-caret-down collapse-open"></i>
                    <i class="fas fa-caret-up collapse-close"></i>
                    Chest Press
                </a>
                <div class="dropdown float-right">
                    <button class="btn btn-outline-primary btn-sm m-0 p-0 px-3" style="border-color: rgba(0,0,0,0);" type="button" data-toggle="dropdown">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a type="button" class="btn dropdown-item" data-toggle="modal" data-target="#modal_add_exercise">Edit</a>
                        <a type="button" class="btn dropdown-item" href="#">Delete</a>
                    </div>
                </div>
            </div>
            <div id="exercise_1" class="collapse">
                <div class="card-body accordion-body">
                    <table class="table table-hover table-dark table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Set</th>
                                <th scope="col">Weight(kg)</th>
                                <th scope="col">Reps</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>50</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>55</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>60</td>
                                <td>8</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header px-2">
                <a data-toggle="collapse" aria-expanded="false" href="#exercise_2">
                    <i class="fas fa-caret-down collapse-open"></i>
                    <i class="fas fa-caret-up collapse-close"></i>
                    Leg Press
                </a>
                <div class="dropdown float-right">
                    <button class="btn btn-outline-primary btn-sm m-0 p-0 px-3" style="border-color: rgba(0,0,0,0);" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a type="button" class="btn dropdown-item" data-toggle="modal" data-target="#modal_add_exercise">Edit</a>
                        <a type="button" class="btn dropdown-item" href="#">Delete</a>
                    </div>
                </div>
            </div>
            <div id="exercise_2" class="collapse">
                <div class="card-body accordion-body">
                    <table class="table table-hover table-dark table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Set</th>
                                <th scope="col">Weight(kg)</th>
                                <th scope="col">Reps</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>150</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>155</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>160</td>
                                <td>8</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header px-2">
                <a data-toggle="collapse" aria-expanded="false" href="#exercise_3">
                    <i class="fas fa-caret-down collapse-open"></i>
                    <i class="fas fa-caret-up collapse-close"></i>
                    Running
                </a>
                <div class="dropdown float-right">
                    <button class="btn btn-outline-primary btn-sm m-0 p-0 px-3" style="border-color: rgba(0,0,0,0);" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a type="button" class="btn dropdown-item" data-toggle="modal" data-target="#modal_add_exercise">Edit</a>
                        <a type="button" class="btn dropdown-item" href="#">Delete</a>
                    </div>
                </div>
            </div>
            <div id="exercise_3" class="collapse">
                <div class="card-body accordion-body">
                    <table class="table table-hover table-dark table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Hrs</th>
                                <th scope="col">Mins</th>
                                <th scope="col">Secs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">00</th>
                                <td>35</td>
                                <td>00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <hr class="my-1 sep">

        <button type="button" class="btn btn-outline-secondary btn-sm btn-block" data-toggle="modal" data-target="#modal_add_exercise">Add Exercise</button>
        <div class="modal fade" id="modal_add_exercise">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title text-white">Add Exercise</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <nav class="mb-3">
                            <div class="nav nav-pills nav-fill">
                                <a class="nav-item nav-link active" data-toggle="tab" href="#strength_exercise_tab">Strength</a>
                                <a class="nav-item nav-link" data-toggle="tab" href="#cardio_exercise_tab">Cardio</a>
                            </div>
                        </nav>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="strength_exercise_tab">
                                <div class="form-group">
                                    <label for="strength_muscle_group_select" class="text-primary">MUSCLE GROUP</label>
                                    <select class="custom-select custom-select-sm muscle_group_select" id="strength_muscle_group_select" muscle-group-exercises="strength_exercise_select">
                                        {% for muscle_group_value_text in muscle_group_values_texts %}
                                            {% if loop.index0 == 0 %}
                                            <option value="{{ muscle_group_value_text[0] }}" selected>{{ muscle_group_value_text[1] }}</option>
                                            {% else %}
                                            <option value="{{ muscle_group_value_text[0] }}">{{ muscle_group_value_text[1] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="strength_exercise_select" class="text-primary">EXERCISE</label>
                                    <select class="custom-select custom-select-sm" id="strength_exercise_select">
                                        {% for strength_exercise_id_name in strength_exercise_ids_names %}
                                            {% if loop.index0 == 0 %}
                                            <option value="{{ strength_exercise_id_name[0] }}" selected>{{ strength_exercise_id_name[1] }}</option>
                                            {% else %}
                                            <option value="{{ strength_exercise_id_name[0] }}">{{ strength_exercise_id_name[1] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="text-primary">SETS</label>
                                    <div id="exercise_sets">
                                    </div>
                                    <button type="button" class="btn btn-outline-secondary btn-sm btn-block p-1 my-1 btn_add_set" sets-container="exercise_sets">
                                        Add Set
                                    </button>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="cardio_exercise_tab">
                                <div class="form-group">
                                    <label for="cardio_exercise_select" class="text-primary">EXERCISE</label>
                                    <select class="custom-select custom-select-sm" id="cardio_exercise_select">
                                        {% for cardio_exercise_id_name in cardio_exercise_ids_names %}
                                            {% if loop.index0 == 0 %}
                                            <option value="{{ cardio_exercise_id_name[0] }}" selected>{{ cardio_exercise_id_name[1] }}</option>
                                            {% else %}
                                            <option value="{{ cardio_exercise_id_name[0] }}">{{ cardio_exercise_id_name[1] }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="text-primary" for="cardio_exercise_time">TIME</label>
                                    <div class="input-group input-group-sm" id="cardio_exercise_time">
                                        <input type="number" class="form-control text-right" placeholder="Hours" value="">
                                        <div class="input-group-append">
                                            <span class="input-group-text">HRS</span>
                                        </div>
                                        <input type="number" class="form-control text-right" placeholder="Minutes" value="">
                                        <div class="input-group-append">
                                            <span class="input-group-text">MINS</span>
                                        </div>
                                        <input type="number" class="form-control text-right" placeholder="Seconds" value="">
                                        <div class="input-group-append">
                                            <span class="input-group-text">SECS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">ADD</button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-3 sep">

        <h5 class="card-title">1-Rep Max Weight</h5>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action d-flex text-primary pr-1">
                <div class="mr-auto">Chest Press</div>
                <span class="badge badge-primary text-right col-2 pr-1">500</span>
                <span class="badge badge-primary text-right">KG</span>
                <div class="dropdown p-0">
                    <button class="btn btn-outline-primary btn-sm m-0 p-0 px-2" style="border-color: rgba(0,0,0,0);" type="button" data-toggle="dropdown">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a type="button" class="btn dropdown-item" data-toggle="modal" data-target="#modal_max_exercise">Edit</a>
                        <a type="button" class="btn dropdown-item" href="#">Delete</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item list-group-item-action d-flex text-primary pr-1">
                <div class="mr-auto">Leg Press</div>
                <span class="badge badge-primary text-right col-2 pr-1">1000</span>
                <span class="badge badge-primary text-right">KG</span>
                <div class="dropdown p-0">
                    <button class="btn btn-outline-primary btn-sm m-0 p-0 px-2" style="border-color: rgba(0,0,0,0);" type="button" data-toggle="dropdown">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a type="button" class="btn dropdown-item" data-toggle="modal" data-target="#modal_max_exercise">Edit</a>
                        <a type="button" class="btn dropdown-item" href="#">Delete</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item list-group-item-action d-flex align-items-stretch text-primary pr-1">
                <div class="mr-auto">Pulldown</div>
                <span class="badge badge-primary text-right col-2 pr-1">250</span>
                <span class="badge badge-primary text-right">KG</span>
                <div class="dropdown p-0">
                    <button class="btn btn-outline-primary btn-sm m-0 p-0 px-2" style="border-color: rgba(0,0,0,0);" type="button" data-toggle="dropdown">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a type="button" class="btn dropdown-item" data-toggle="modal" data-target="#modal_max_exercise">Edit</a>
                        <a type="button" class="btn dropdown-item" href="#">Delete</a>
                    </div>
                </div>
            </li>
        </ul>
        <hr class="my-1 sep">
        <button type="button" class="btn btn-outline-secondary btn-sm btn-block" data-toggle="modal" data-target="#modal_max_exercise">Add 1-Rep Max Weight</button>
        <div class="modal fade" id="modal_max_exercise">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title text-white">Add 1-Rep Max Weight</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="max_muscle_group_select" class="text-primary">MUSCLE GROUP</label>
                            <select class="custom-select custom-select-sm muscle_group_select" id="max_muscle_group_select" muscle-group-exercises="max_exercise_select">
                                {% for muscle_group in muscle_groups %}
                                    {% if loop.index0 == 0 %}
                                    <option selected>{{ muscle_group }}</option>
                                    {% else %}
                                    <option>{{ muscle_group }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="max_exercise_select" class="text-primary">EXERCISE</label>
                            <select class="custom-select custom-select-sm" id="max_exercise_select">
                                {% for strength_exercise in strength_exercises %}
                                    {% if loop.index0 == 0 %}
                                    <option selected>{{ strength_exercise }}</option>
                                    {% else %}
                                    <option>{{ strength_exercise }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="text-primary">1-REP MAX WEIGHT</label>
                            <div class="input-group input-group-sm">
                                <input type="number" class="form-control text-right" placeholder="weight" value="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">ADD</button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-3 sep">

        <h5 class="card-title">Body</h5>
        <form>
            <div class="form-row">
                <label for="weight" class="col-3 col-form-label text-uppercase">Weight</label>
                <div class="input-group col">
                    <input type="number" class="form-control text-right" id="weight" placeholder="weight">
                    <div class="input-group-append" style="flex: 0 0 20%;">
                        <span class="input-group-text" style="width: 100%;">kg</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label for="weight" class="col-3 col-form-label text-uppercase">Muscle</label>
                <div class="input-group col">
                    <input type="number" class="form-control text-right" id="muscle" placeholder="weight">
                    <div class="input-group-append" style="flex: 0 0 20%;">
                        <span class="input-group-text" style="width: 100%;">kg</span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <label for="fat" class="col-3 col-form-label text-uppercase">Fat</label>
                <div class="input-group col">
                    <input type="number" class="form-control text-right" id="fat" placeholder="ratio">
                    <div class="input-group-append" style="flex: 0 0 20%;">
                        <span class="input-group-text text-center" style="width: 100%;">%</span>
                    </div>
                </div>
            </div>
        </form>


        <hr class="my-3 sep">
        <button type="submit" class="btn btn-danger">Submit</button>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    const form_alert_id = "form_alert";

    function show_form_alert() {
        $("#" + form_alert_id).show();
    }

    function hide_form_alert() {
        $("#" + form_alert_id).hide();
    }

    function form_alert(msg) {
        $("#" + form_alert_id).html(msg);
        show_form_alert();
    }
    hide_form_alert();
</script>
<script src="{{ url_for('static', filename='js/record.js') }}"></script>
{% endblock %}
