[aria-expanded="false"] .collapse-close {
    display: inline;
}

[aria-expanded="false"] .collapse-open {
    display: none;
}

[aria-expanded="true"] .collapse-close {
    display: none;
}

[aria-expanded="true"] .collapse-open {
    display: inline;
}

.sep {
    color: rgba(0,0,0,0);
}